/* Firefox */

/* html { */
/* scrollbar-width: thin; */
/* thumb and track color */
/* scrollbar-color: #888 #020000; */
/* } */

.contact-scrollbar::-webkit-scrollbar {
  width: 0;
}

.message-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  /* opacity: 0;
  transition: opacity 250ms; */
}

/* .message-scrollbar {
  scrollbar-color: red green;
  scroll-behavior: smooth;
  scrollbar-face-color: aqua;
} */

.message-scrollbar::-webkit-scrollbar-track {
  background: #4dafb3;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.message-scrollbar::-webkit-scrollbar-thumb {
  background: #075c5f;
  border-radius: 0.5rem;
}

.message-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5f6c88;
  opacity: 1;
  transition: all;
  transition-duration: 0.5s;
  cursor: grab;
}
.message-scrollbar:active::-webkit-scrollbar {
  /* background: #7eb400;
  opacity: 1; */
}
